<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username.capitalize %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>



<% @links.each do |link| %>
  <% if link.user_id == @user.id %>
    <br><%= link_to root_url+link.short_url, root_url+link.short_url %><br>
    <% if link.user_id == current_user.id %>
      <%= button_to 'Delete', { :controller => "links", :action => "destroy", :id => link.id },
          :confirm => "Are you sure?", :method => :delete %>
      <%= link_to "View Stats", "/links/#{link.id}" %> <br>
    <% end %>
  <%end%>
<% end %>
<br><br>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
